  <ion-grid class="detail">
    <ion-row>
      <ion-col size="6">
        <div>
          <ion-row><span>C/ {{calle}}</span></ion-row>
          <ion-row><span><b>{{barrio}}</b></span></ion-row>
        </div>
      </ion-col>
      <ion-col size="3">
        <div>
          <ion-row><span>Plazas</span></ion-row>
          <ion-row>
            <ion-icon *ngFor="let icon of counter(capacidad)" name="bicycle-outline"></ion-icon>
          </ion-row>
        </div>
      </ion-col>
      <ion-col size="3">
        <div>
          <ion-icon class="navigate" name="navigate-outline" (click)="goTo()"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>