ion-col div {
    text-align: center;
}

ion-icon {
    zoom: 1.2;
}

ion-icon.navigate {
    zoom: 1.8;
    padding: 4px;
}

span {
    font-size: 12px;
}

ion-grid.detail {
    background-color: #2A292B;
    text-align: center;

    ion-row {
        height: 100%;
    }
}

ion-row.center {
    p {
        width: 100%;
        text-align: center;
    }
}

.container {
    position: relative;
    height: 15%;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}