ion-col div {
    text-align: center;
}

ion-icon {
    zoom: 1.2;
}

ion-icon.navigate {
    zoom: 2.5;
}

span {
    font-size: 12px;
}

ion-grid.detail {
    padding-top: 4px;
    text-align: center;
}